@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

$text-font: 'Noto Sans', sans-serif;
$title-font: 'Noto Serif', serif;
$mono-font: 'Fira Code', monospace;

$primary-color: #333;
$secondary-color: rgb(46, 150, 150);